.DietPage {
    max-height: 100vh;
    display: flex;
    height: calc(100vh - 90px);
    padding-top: 90px;
    overflow: hidden;
}

.LeftHalf {
    position: relative;
    width: 25vw;
    padding-left: 28px;
    background-color: #19191b;
    border-right-color: black;
}

.RightHalf {
    position: relative;
    justify-content: space-between;
    display: inline-block;
    width: 75vw;
    background-color: #2c3444;
}

/* #SetButtonsContainer {
    position:sticky;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#MainButtonsContainer {
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
} */

#SuggestButtonsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopHalf {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomHalf {
    position: relative;
    height: calc(100vh - 85vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainButtonsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SetButtonsContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainDietButton {
    background-color: #19191b;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #555555;
    border: 2px solid black;
    border-radius: 10px;
    height: 50vh;
    width:400px;
    display: inline-block;
    margin: 20px;
    font: bold 14px/1 'Rubik', sans-serif;
    transition: transform 0.75s;
}

.SetButton {
    background-color: #19191b;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #555555;
    border: 2px solid black;
    border-radius: 10px;
    height: 8vh;
    width: 300px;
    display: inline-block;
    margin: 10px;
    font: bold 14px/1 'Rubik', sans-serif;
    transition: transform 0.75s;
}

.SuggestButton {
    background-color: #19191b;
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #555555;
    border: 2px solid black;
    border-radius: 10px;
    height: 50vh;
    width: 400px;
    display: inline-block;
    margin: 10px;
    font: bold 14px/1 'Rubik', sans-serif;
    transition: transform 0.75s;
}

.SetButton:hover,
.MainDietButton:hover,
.SuggestButton:hover {
    background-color: rgb(212, 212, 103);
    transform: scale(1.1);
}

.MainDietButton:hover {
    background-color: rgb(212, 212, 103);
    transform: scale(1.1);
}