.DietInfoPage {
    max-height: 100vh;
    display: flex;
    height: calc(100vh);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.LeftHalfDietInfo {
    position: relative;
    width: 25vw;
    padding-left: 28px;
}

.RightHalfDietInfo {
    position: relative;
    width: 75vw;
    margin-left: 20%

}

.AddToDiets,
.DietInfo {
    background-color: #19191b;
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #555555;
    border: 2px solid black;
    border-radius: 10px;
    height: 50vh;
    width: 400px;
    display: inline-block;
    margin: 10px;
    font: bold 14px/1 'Rubik', sans-serif;
    transition: transform 0.75s;
}

.AddToDiets {
    height: 80px;
    width: 150px;
}

.DietInfo:hover,
.AddToDiets:hover {
    background-color: rgb(212, 212, 103);
    transform: scale(1.1);
}